*, *:after, *:before {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  font-family: "PT Serif", serif;
  color: #ffffff;
  background-color: #e1e1e1;
}

a {
  color: #ffffff;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container, .article_container {
  max-width: 960px;
  margin: 0 auto;
  width: 90%;
}

.article_container {
  padding-top: 160px;
}

.post1 {
  max-width: 100%;
  background: #ffffff;
  border-radius: 4px;
}

.post1__img {
  width: 100%;
  height: 144px;
  padding: 24px 0 0 24px;
  border-radius: 4px 4px 0 0;
  background: url(../images/pic/pic1.png) no-repeat center center;
  background-size: cover;
}

.post1__img__tag {
  padding: 0 4px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  font-weight: 700;
  line-height: 16.5px;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #3078c0;
  border-radius: 3px;
}

@media only screen and (min-width: 640px) {
  .post1 {
    max-width: 320px;
  }
}

.post1__info {
  padding: 24px;
}

.post1__info__title a {
  color: #3b3d40;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.post1__info__description {
  margin-top: 8px;
  color: #838d8f;
  font-family: "PT Serif", serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.post1__tools {
  height: 48px;
  padding: 16px 24px;
  background-color: #ffffff;
  border-top: 1px solid #eeeeee;
  border-radius: 0 0 4px 4px;
}

.post1__tools__list li {
  float: left;
}

.post1__tools__list__comments a {
  color: #838d8f;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.post1__tools__list__comments a:before {
  content: '';
  display: inline-block;
  height: 16px;
  width: 16px;
  margin-right: 8px;
  background: url(../images/ic/ic-comments.svg) no-repeat 0 0;
  vertical-align: middle;
}

.post1__tools__list__likes a {
  margin-left: 16px;
  color: #838d8f;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.post1__tools__list__likes a:before {
  content: '';
  display: inline-block;
  height: 16px;
  width: 16px;
  margin-right: 8px;
  background: url(../images/ic/ic-comments.svg) no-repeat 0 0;
  vertical-align: middle;
}

@media only screen and (min-width: 640px) {
  .post1 {
    float: left;
    width: 30%;
  }
}

.post2 {
  max-width: 100%;
  margin: 32px 0;
  background: #ffffff;
  border-radius: 4px;
}

.post2__info {
  padding: 24px;
}

.post2__info__tag {
  padding: 0 4px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  font-weight: 700;
  line-height: 16.5px;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #c0a830;
  border-radius: 3px;
}

.post2__info__title {
  margin-top: 40px;
  color: #3b3d40;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.post2__info__description {
  margin: 16px 0 40px 0;
  color: #838d8f;
  font-family: "PT Serif", serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and (min-width: 640px) {
  .post2__info {
    width: 50%;
  }
}

.post2__img {
  width: 100%;
  height: 144px;
  border-radius: 4px 4px 0 0;
  background: url(../images/pic/pic2.png) no-repeat center center;
  background-size: cover;
}

.post2__img:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: #3b3d40;
  border-radius: 4px 4px 0 0;
  opacity: 0.5;
}

@media only screen and (min-width: 640px) {
  .post2__img:after {
    border-radius: 0 4px 4px 0;
  }
}

@media only screen and (min-width: 640px) {
  .post2__img {
    float: right;
    height: 336px;
    width: 50%;
    border-radius: 0 4px 4px 0;
  }
}

@media only screen and (min-width: 640px) {
  .post2 {
    float: right;
    width: 66.66667%;
    margin: 0 0;
  }
}

.btn {
  box-shadow: inset 0 0 0 1px #eeeeee;
  border-radius: 100px;
  padding: 9px 16px;
  color: #3b3d40;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: transparent;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  box-shadow: inset 0 0 0 1px #3b3d40;
  color: #eeeeee;
  background: #3b3d40;
}
