// -----------------------------------------------------------------------------
// This file contains Articles style.
// -----------------------------------------------------------------------------

.article_container
	@extend .container
	padding-top: 160px

.post1
	max-width: 100%
	background: $white
	border-radius: 4px

	&__img
		width: 100%
		height: 144px
		padding: 24px 0 0 24px

		border-radius: 4px 4px 0 0

		background: url(../images/pic/pic1.png) no-repeat center center
		background-size: cover

		&__tag
			padding: 0 4px

			color: white
			font-family: $font-family-montserrat
			font-size: $font-size-caption
			font-weight: $font-weigh-700
			line-height: $line-height-caption
			letter-spacing: $letter-spacing-base
			text-transform: uppercase
			+font-smoothing

			background-color: $blue
			border-radius: 3px
	+MQ(M)
		max-width: 320px

	&__info
		padding: 24px

		&__title a
			color: $dark-blue
			font-family: $font-family-montserrat
			font-size: $font-size-h4
			font-weight: $font-weigh-700
			line-height: $line-height-h4
			+font-smoothing

		&__description
			margin-top: 8px

			color: $dark-cyan
			font-family: $font-family-ptserif
			font-size: $font-size-base
			font-weight: $font-weight-400
			line-height: $line-height-base
			+font-smoothing

	&__tools
		height: 48px
		padding: 16px 24px

		background-color: $white
		border-top: 1px solid $light-gray
		border-radius: 0 0 4px 4px

		&__list
			li
				float: left

			&__comments a
				color: $dark-cyan
				font-family: $font-family-montserrat
				font-size: $font-size-button
				font-weight: $font-weight-400
				line-height: $line-height-button

				&:before
					content: ''
					display: inline-block
					height: 16px
					width: 16px
					margin-right: 8px
					background: url(../images/ic/ic-comments.svg) no-repeat 0 0
					vertical-align: middle

			&__likes a
				margin-left: 16px

				color: $dark-cyan
				font-family: $font-family-montserrat
				font-size: $font-size-button
				font-weight: $font-weight-400
				line-height: $line-height-button

				&:before
					content: ''
					display: inline-block
					height: 16px
					width: 16px
					margin-right: 8px
					background: url(../images/ic/ic-comments.svg) no-repeat 0 0
					vertical-align: middle

	+MQ(M)
		float: left
		width: 100 / 960 * 288%


.post2
	max-width: 100%

	margin: 32px 0

	background: $white
	border-radius: 4px

	&__info
		padding: 24px

		&__tag
			padding: 0 4px

			color: white
			font-family: $font-family-montserrat
			font-size: $font-size-caption
			font-weight: $font-weigh-700
			line-height: $line-height-caption
			letter-spacing: $letter-spacing-base
			text-transform: uppercase
			+font-smoothing

			background-color: $strong-yellow
			border-radius: 3px

		&__title
			margin-top: 40px

			color: $dark-blue
			font-family: $font-family-montserrat
			font-size: $font-size-h3
			font-weight: $font-weigh-700
			line-height: $line-height-h3
			+font-smoothing

		&__description
			margin: 16px 0 40px 0

			color: $dark-cyan
			font-family: $font-family-ptserif
			font-size: $font-size-base
			font-weight: $font-weight-400
			line-height: $line-height-base
			+font-smoothing

		+MQ(M)
			width: 100 / 640 * 320%

	&__img
		width: 100%
		height: 144px

		border-radius: 4px 4px 0 0

		background: url(../images/pic/pic2.png) no-repeat center center
		background-size: cover

		&:after
			content: ''
			display: block
			width: 100%
			height: 100%

			background: $dark-blue
			border-radius: 4px 4px 0 0
			opacity: 0.5

			+MQ(M)
				border-radius: 0 4px 4px 0

		+MQ(M)
			float: right
			height: 336px
			width: 100 / 640 * 320%

			border-radius: 0 4px 4px 0

	+MQ(M)
		float: right
		width: 100 / 960 * 640%
		margin: 0 0

