// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

*, *:after, *:before
	box-sizing: border-box

html
	font-size: $font-size-base

// Basic typography style

body
	font-family: $font-family-arial
	color: $white
	background-color: $color-3

// Basic styles for links

a
	color: $color-2
	text-decoration: none

// Make images responsive

img
	max-width: 100%